.body{
  background-color: rgb(3, 81, 60);
  /* font-family: Georgia, 'Times New Roman', Times, serif */
}








/* .row{
  margin-top: 5rem;
  justify-content: center;
  
  
}
 .employeeCard{
  margin: .5rem;
  
}
h2{
  font-weight: bold;
} */